/* custom styles */

.subtitle {
  font-size: 45%;
  color: #c2c2c2;
}
li {
  margin: 20px 0;
}
.top-title {
  top: 40px;
  position: absolute;
  font-size: 60px;
}

/* highlighting text */
.hi {
  color: #ce92a7;
}

/* bigger text */
.small {
  font-size: 40%;
}

/* 
  blockquotes 
  src: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blockquote
*/
blockquote {
  margin: 0;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
  color: rgb(63, 63, 63);
  font-size: 50%;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

/* sub lists */
ul > li > ul > li {
  font-size: 75%;
}

/* overrides */
.layout div {
  padding-bottom: 10px;
}

pre {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0.2em;
  background: #edebe8;
  color: #000;
  font-weight: normal;
  font-family: "Courier New", Courier, monospace;
  border-radius: 6px;
}

pre em {
  color: #000;
  font-weight: bold;
}

/* iframe {
  display: block;
  width: 100vh;
  border: none;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  border: none;
} */
